
@{
    ViewBag.Title = "Help";
}


<div class="container-fluid bg-2 text-center">
    <h1><u>How to use the site</u></h1>
    <br />
    <p>It is super simple, simply click on the calorie counter section and add food from any of the food groups.</p>
    <p>The website will take care of the rest! </p>
</div>


