@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="container-fluid text-center">
    <h2><u>Calorie Counter </u></h2>
    <br />
    <h3>For your Calorie Counting needs</h3>
    <br />
</div>

<div class="container-fluid bg-2 text-center">
    <h2>Count those Calories</h2>
    <br />
    <p>HELLO</p>
    <p>Its Me</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-log-in"></span>Login!
    </a>
</div>

<div class="container-fluid bg-3 text-center">
    <h2><u>Food Groups</u></h2>
    <br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>